@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>
<h1>Todo</h1>

<input placeholder="Sisesta kirjeldus" @bind="newTodoDescription" />
<input type="datetime-local" @bind="newTodoDueDate" />
<button @onclick="AddTodo">Lisa</button>

<ul>
    @foreach (var todo in todos.OrderByDescending(t => t.DueDate))
    {
        <li id='list-item' class="card shadow">
            <div style="color: @(todo.DueDate < DateTime.Now.AddHours(1) ? "red" : "black")">
                <h3>@todo.Description</h3>
                <h4>Lahendamise Aeg: @todo.DueDate</h4>
                <button id='btn' @onclick="() => todos.Remove(todo)">Eemalda</button>
                <h6>Sisestamise Aeg: @todo.CreatedDate</h6>
            </div>
        </li>
    }
</ul>

@code {
    @using TodoApp
    private List<TodoItem> todos = new();
    private string? newTodoDescription;
    private DateTime? newTodoDueDate;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodoDescription) && newTodoDueDate.HasValue)
        {
            todos.Add(new TodoItem { Description = newTodoDescription, CreatedDate = DateTime.Now, DueDate = newTodoDueDate});
            newTodoDescription = string.Empty;
        }
    }
}